.home {
	&__scroll {
		&-name {
			color: var(--title-color);
			font-weight: var(--font-medium);
			margin-right: var(--mb-0-25);
			margin-left: 2px;
		}
		&-arrow {
			font-size: 1.25rem;
			color: var(--title-color);
		}
	}
}
.wheel {
	animation: scroll 2s ease infinite;
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(3.75rem);
	}
}
